<footer id="site-footer">
  <div class="footer-section footer-main">
    <a class="brand" href="https://flutter.dev">
      <img src="/assets/images/branding/flutter/logo+text/horizontal/white.svg" alt="Flutter logo" width="164">
    </a>
    <div class="footer-social-links">
      <a class="icon-button" href="https://blog.flutter.dev" target="_blank" rel="noopener" title="Flutter's blog">
        <svg><use href="/assets/images/social/medium.svg#medium"></use></svg>
      </a>
      <a class="icon-button" href="https://youtube.com/@flutterdev" target="_blank" rel="noopener" title="Flutter's YouTube">
        <svg><use href="/assets/images/social/youtube.svg#youtube"></use></svg>
      </a>
      <a class="icon-button" href="https://github.com/flutter" target="_blank" rel="noopener" title="Flutter's GitHub">
        <svg><use href="/assets/images/social/github.svg#github"></use></svg>
      </a>
      <a class="icon-button" href="https://bsky.app/profile/flutter.dev" target="_blank" rel="noopener" title="Flutter's Bluesky">
        <svg><use href="/assets/images/social/bluesky.svg#bluesky"></use></svg>
      </a>
      <a class="icon-button" href="https://twitter.com/FlutterDev" target="_blank" rel="noopener" title="Flutter's X (Twitter)">
        <svg><use href="/assets/images/social/x.svg#x"></use></svg>
      </a>
    </div>
  </div>
  <div class="footer-section footer-tray">
    <div class="footer-licenses">
      除非另有註明，本站係依照
      <a href="https://creativecommons.org/licenses/by/4.0/">創用 CC 姓名標示 4.0 國際授權條款</a>
      授權，而程式碼範例則採用
      <a href="https://opensource.org/licenses/BSD-3-Clause">BSD 三條款授權</a>。
    </div>
    <div class="footer-utility-links">
      <ul>
        <li><a href="/tos" title="Terms of use">使用條款</a></li>
        <li><a href="/brand" title="Brand usage guidelines">品牌規範</a></li>
        <li><a href="https://policies.google.com/privacy" target="_blank" rel="noopener" title="Privacy policy">隱私權</a></li>
        <li><a href="/security" title="Security philosophy and practices">資安</a></li>
      </ul>
    </div>
  </div>
</footer>
