<header class="site-header">
  <a href="#document-title" id="skip-to-main" class="filled-button">
    跳至主要內容
  </a>
  <nav class="navbar">
    <a id="site-primary-logo" class="site-wordmark" href="/" aria-label="前往 Flutter 文件首頁" title="前往 Flutter 文件首頁">
      <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter 標誌" width="28">
      <span class="name" translate="no">Flutter</span>
      <span class="subtype">文件</span>
    </a>

    <div class="navbar-contents">
      <form action="/search/" class="site-header__search">
        <input
          class="site-header__searchfield search-field"
          type="search" name="q" id="q" autocomplete="off"
          placeholder="搜尋" aria-label="搜尋">
      </form>
      <a href="/search" id="fallback-search-button" class="icon-button" aria-label="前往文件搜尋頁面。" title="前往文件搜尋頁面。">
        <span class="material-symbols" aria-hidden="true" translate="no">search</span>
      </a>
      <div id="theme-switcher" class="dropdown">
        <button class="dropdown-button icon-button" title="選擇主題" aria-label="選擇主題" aria-expanded="false" aria-controls="site-switcher-menu">
          <span class="material-symbols" aria-hidden="true" translate="no">routine</span>
        </button>
        <div class="dropdown-content" id="theme-menu" >
          <div class="dropdown-menu">
            <ul role="listbox">
              <li>
                <button data-theme="light" title="切換至亮色模式" aria-label="切換至亮色模式" aria-selected="false">
                  <span class="material-symbols" aria-hidden="true" translate="no">light_mode</span>
                  <span>亮色</span>
                </button>
              </li>
              <li>
                <button data-theme="dark" title="切換至深色模式" aria-label="切換至深色模式" aria-selected="false">
                  <span class="material-symbols" aria-hidden="true" translate="no">dark_mode</span>
                  <span>深色</span>
                </button>
              </li>
              <li>
                <button data-theme="auto" title="跟隨裝置主題" aria-label="跟隨裝置主題" aria-selected="false">
                  <span class="material-symbols" aria-hidden="true" translate="no">night_sight_auto</span>
                  <span>自動</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="site-switcher" class="dropdown">
        <button class="dropdown-button icon-button" aria-expanded="false" aria-controls="site-switcher-menu" aria-label="在 Flutter 與 Dart 網站間切換">
          <span class="material-symbols" aria-hidden="true" translate="no">apps</span>
        </button>
        <div class="dropdown-content" id="site-switcher-menu">
          <nav class="dropdown-menu" role="menu">
            <ul>
              <li role="presentation"><a href="{{site.main-url}}" class="site-wordmark" role="menuitem" title="Flutter 首頁" aria-label="前往 Flutter 首頁">
                <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter 標誌" width="28">
                <span class="name" translate="no">Flutter</span>
              </a></li>
              <li role="presentation"><a href="/" class="site-wordmark current-site" role="menuitem"  aria-current="true" title="Flutter 文件首頁" aria-label="前往 Flutter 文件首頁">
                <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter 標誌" width="28">
                <span class="name" translate="no">Flutter</span>
                <span class="subtype">文件</span>
              </a></li>
              <li role="presentation"><a href="{{site.api}}" class="site-wordmark" role="menuitem"  title="Flutter API 參考資料" aria-label="前往 Flutter API 參考資料">
                <img src="/assets/images/branding/flutter/logo/default.svg" alt="Flutter 標誌" width="28">
                <span class="name" translate="no">Flutter</span>
                <span class="subtype">API</span>
              </a></li>
              <li aria-hidden="true" class="dropdown-divider" role="separator"></li>
              <li role="presentation"><a href="{{site.dart-site}}" class="site-wordmark" role="menuitem"  title="Dart 首頁" aria-label="前往 Dart 首頁">
                <img src="/assets/images/branding/dart/logo.svg" alt="Dart 標誌" width="28" height="28">
                <span class="name">Dart</span>
              </a></li>
              <li role="presentation"><a href="{{site.dartpad}}" class="site-wordmark" role="menuitem"  title="DartPad 練習場" aria-label="前往 DartPad 練習場">
                <img src="/assets/images/branding/dart/logo.svg" alt="Dart 標誌" width="28" height="28">
                <span class="name">DartPad</span>
              </a></li>
              <li role="presentation"><a href="{{site.pub}}" class="site-wordmark" role="menuitem" title="pub.dev 首頁" aria-label="前往 pub.dev 首頁">
                <img src="/assets/images/branding/dart/logo.svg" alt="Dart 標誌" width="28" height="28">
                <span class="name">pub.dev</span>
              </a></li>
            </ul>
          </nav>
        </div>
      </div>
      <a id="call-to-action" class="filled-button" href="/get-started/quick">開始使用</a>
      <button
          id="menu-toggle"
          class="icon-button"
          type="button"
          aria-controls="sidenav"
          aria-label="切換導覽"
          title="切換導覽">
        <span class="material-symbols" aria-hidden="true" translate="no">menu</span>
        <span class="material-symbols" aria-hidden="true" translate="no">close</span>
      </button>
    </div>
  </nav>
</header>
